<section class="page">
  <div class="container">
    <div class="section-center">
      <ul class="breadcrumb__ul">
        <li><a href="#">Home</a></li>
        <li><a href="#">Cart</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="cart">
  <div class="cart__prouducts">
    <div class="cart__prouducts__head">
      <div class="cart__prouducts__head__items">
        <p>Items: </p>
      </div>
      <div class="cart__prouducts__head__pages">
        <p>Price:</p>
      </div>
      <div class="cart__prouducts__head__pages">
        <p>Quantity:</p>
      </div>
      <div class="cart__prouducts__head__pages">
        <p>Subtotal:</p>
      </div>
    </div>
      <div class="cart__prouducts__list__wrapper"></div>
    </div>
  </div>
  <div class="cart__summary">
    <!-- <div class="cart__summary__head">Summary</div> -->
    <div class="cart__summary__list">
      <div class="cart__summary__list__count">
        <p  class="cart__summary__name">Products: </p>
        <div class="cart__summary__list__count__items">19</div>
      </div>
      <div class="cart__summary__list__total">
        <p>Total: </p>
        <div class="cart__summary__list__total__sum">
          &euro;17000.55
        </div>
      </div>
      <div class="cart__summary__list__total__disc">
        <p>New total: </p>
        <div class="cart__summary__list__total__sum__disc">
          &euro;17000.55
        </div>
      </div>
      <div class="promo__wrapper__apply1">
        <p class="promo__text">Discount#1 10%</p>
        <button class="button btn__promo__drop1">DROP</button>
      </div>
      <div class="promo__wrapper__apply2">
        <p class="promo__text">Discount#2 10%</p>
        <button class="button btn__promo__drop2">DROP</button>
      </div>
      <input type="text" class="promo__input" placeholder="PROMO HERE">
      <div class="promo__wrapper1">
        <p class="promo__text">Discount#1 10%</p>
        <button class="button btn__promo__add1">ADD</button>
      </div>
      <div class="promo__wrapper2">
        <p class="promo__text">Discount#2 10%</p>
        <button class="button btn__promo__add2">ADD</button>
      </div>
      <p class="promo__sale">Promo for test: 'rs', 'sr'</p>
      <button class="button btn__buynow">BUY NOW</button>
    </div>
  </div>
</section>