<section class="page">
  <div class="container">
    <div class="section-center">
      <h3>
        <a href="">Home</a> / Products
      </h3>
    </div>
  </div>
</section>
<div class="store-page">
  <div class="container">
    <div class="store-page__wrapper">
      <!-- FILTERS -->
      <div class="filters-container">
        <div class="input-search">
          <input type="search" placeholder="Search product" data-search>
        </div>
        <!-- Category -->
        <h3 class="filter-name">Category</h3>
        <div class="filter-category">
          <div class="filter-item">
            <input class="filter-input" type="checkbox" id="smartphones" value="smartphones">
            <label for="smartphones">Smartphones</label>
          </div>
          <div class="filter-item">
            <input class="filter-input" type="checkbox" id="laptops" value="laptops" >
            <label for="laptops">Laptops</label>
          </div>
          <div class="filter-item">
            <input class="filter-input" type="checkbox" id="fragrances" value="fragrances">
            <label for="fragrances">Fragrances</label>
          </div>
          <div class="filter-item">
            <input class="filter-input" type="checkbox" id="skincare"  value="skincare">
            <label for="skincare">Skincare</label>
          </div>
          <div class="filter-item">
            <input class="filter-input" type="checkbox" id="groceries" value="groceries">
            <label for="groceries">Groceries</label>
          </div>
          <div class="filter-item">
            <input class="filter-input" type="checkbox" id="home-decoration" value="home-decoration">
            <label for="home-decoration">Home decoration</label>
          </div>
          <div class="filter-item">
            <input class="filter-input" type="checkbox" id="furniture" value="furniture">
            <label for="furniture">Furniture</label>
          </div>
        </div>
        <!-- Brand -->
        <h3 class="filter-name">Brand</h3>
        <div class="filter-brand">
          <div class="filter-item">
            <input class="filter-input" type="checkbox" id="apple" value="Apple">
            <label for="apple">Apple</label>
          </div>
          <div class="filter-item">
            <input class="filter-input" type="checkbox" id="samsung" value="Samsung">
            <label for="samsung">Samsung</label>
          </div>
          <div class="filter-item">
            <input type="checkbox" id="brand-2">
            <label for="brand-2">brand-2</label>
          </div>
          <div class="filter-item">
            <input type="checkbox" id="brand-3">
            <label for="brand-3">brand-3</label>
          </div>
          <div class="filter-item">
            <input type="checkbox" id="brand-4">
            <label for="brand-4">brand-4</label>
          </div>
        </div>
        <!-- Price -->
        <h3 class="filter-name">Price</h3>
        <div class="filter-range">
          <div class="filter-range-min filter-range-text">0 $</div>
          <span class="filter-range-line"></span>
          <div class="filter-range-max filter-range-text">2500 $</div>
        </div>
        <div class="multi-range">
          <input class="input-range" type="range" min="0" max="50" class="">
          <!-- <input type="range" min="0" max="50" class=""> -->
        </div>
        <!-- Stock -->
        <h3 class="filter-name">Stock</h3>
        <div class="filter-range">
          <div class="filter-range-min filter-range-text">1</div>
          <span class="filter-range-line"></span>
          <div class="filter-range-max filter-range-text">250</div>
        </div>
        <div class="multi-range">
          <input class="input-range" type="range" min="0" max="100" class="">
          <!-- <input type="range" min="0" max="100" class=""> -->
        </div>
        <!-- BUTTONs -->
        <div class="reset-total">
          <button class="button">Clear Filters</button>
          <button class="button">Copy Link</button>
        </div>
      </div>
      <!-- PRODUCTS -->
      <div class="products">
        <div class="sort-products">
          <div class="sort-print">
            <h3 class="sort-title">sort by</h3>
            <select class="sort-menu">
              <option value="sort-option" disabled="" selected="" class="sort-name">Sort options:</option>
              <option value="price-lowest">price lowest</option>
              <option value="price-highest">price highest</option>
              <option value="name-az">name a-z</option>
              <option value="name-za">name z-a</option>
            </select>
          </div>
          <div class="view-mode">
            <div class="small-view">
              <!-- <img src="" alt="small-view"> -->
              <div class="view-box">
                <div class="viev-item-box"></div>
                <div class="viev-item-box"></div>
                <div class="viev-item-box"></div>
                <div class="viev-item-box"></div>
              </div>
            </div>
            <div class="big-view active-view-mode">
              <div class="view-line">
                <div class="viev-item-line"></div>
                <div class="viev-item-line"></div>
                <div class="viev-item-line"></div>
              </div>
              <!-- <img src="" alt="big-view"> -->
            </div>
          </div>
        </div>
        <div class="product-list">
          <div class="products-container"></div>
          <div class="products-container" data-user-cards-container></div>
          <template data-user-template>
            <div class="product-item">
              <div class="product-item__info">
                <h3 class="product-name" data-name></h3>
                <p class="product-price">
                  <span class="product-cost" data-cost></span>
                </p>
              </div>
              <div class="product-item__image_container">
                <a href="" data-href>
                  <img class="product-item__image" src="" data-src>
                </a>
              </div>
              <div class="product-buttons">
                <button class="button button__add" data-btn-add>add to cart</button>
                <button class="button button__buy__now" data-btn-buy-now>buy now</button>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>