<section class="cart">
  <div class="cart__prouducts">
    <div class="cart__prouducts__head">
      <p>Products in Cart</p>
      <div class="cart__prouducts__head__items">
        <p>ITEMS: </p>
        <input type="text" id="inp__cart__items" value="1">
      </div>
      <div class="cart__prouducts__head__pages">
        <p>PAGE:</p>
        <button class="btn_pages_left">&LT</button>
        <input type="text" id="inp__cart__pages" value="1">
        <button class="btn_pages_right">&GT</button>
      </div>
    </div>
      <div class="cart__prouducts__list__wrapper"></div>
    </div>
  </div>
  <div class="cart__summary">
    <div class="cart__summary__head">Summary</div>
    <div class="cart__summary__list">
      <div class="cart__summary__list__count">
        <p>Products: </p>
        <div class="cart__summary__list__count__items">19</div>
      </div>
      <div class="cart__summary__list__total">
        <p>Total: </p>
        <div class="cart__summary__list__total__sum">
          &euro;17000.55
        </div>
      </div>
      <input type="text" value="PROMO HERE">
      <p>Promo for test: 'RSSchool'</p>
      <button class="btn__buynow">BUY NOW</button>
    </div>
  </div>
</section>