.header {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__wrapper {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
  height: 42px;
}

.logo__image {
  max-width: 100%;
}

.navbar__items {
  display: flex;
  gap: 40px;
}

.cart__wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 250px;
}

.navbar__link,
.header__cost,
.header__count {
  color: var(--fonts);
  font-size: 24px;
}

.cart__link {
  width: 42px;
  position: relative;
}

.cart__image {
  max-width: 100%;
}

.header__count {
  height: 24px;
  max-width: 100%;
  background-color: var(--main);
  box-sizing: border-box;
  border: 1px solid var(--fonts);
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 25px;
}