.header {
  width: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__wrapper {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
  height: 42px;
}

.logo__image {
  max-width: 100%;
}

.navbar__items {
  display: flex;
  gap: 40px;
}

.navbar__link {
  color: var(--fonts);
  font-size: 24px;
}

.cart__text {
  font-size: 24px;
  margin-right: 20px;
}

.cart__link {
  display: flex;
  align-items: center;
}

.cart__image {
  width: 30px;
}
