html{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.main {
  flex: 1 0 auto;
}
.page {
  background: var(--light-gray);
  min-height: 20vh;
}

.store-page__wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 50px;
}

.section-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20vh;
  font-size: 40px;
  margin-left: 300px;
}

/* left column filters */
.filters-container {
  position: sticky;
  top: 10px;
  height: 100px;
}

.input-search {
  margin-top: 20px;
}

.filter-name {
  font-size: 24px;
  padding: 10px 0;
}

.filter-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-range-line {
  width: 100%;
  height: 1px;
  background: var(--fonts);
}

.filter-range-text {
  font-size: 18px;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}

.multi-range {
  display: flex;
  justify-content: center;
}

.input-range {
  height: 20px;
  appearance: none;
  margin: 10px 0;
  width: 100%;
}

.input-range:focus {
  outline: none;
}

.input-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px #50555C; */
  background: var(--light-gray);
  border-radius: 4px;
  border: 0px solid #000000;
}

.input-range::-webkit-slider-thumb {
  /* box-shadow: 0px 0px 0px #000000; */
  /* border: 0px solid #000000; */
  height: 10px;
  width: 40px;
  border-radius: 3px;
  background: var(--dark-gray);
  cursor: pointer;
  appearance: none;
  /* margin-top: -3px; */
}

/* right column . Products */
.sort-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px 0;
}

.sort-print {
  display: flex;
}

.sort-title {
  font-size: 20px;
  color: var(--fonts);
  margin-right: 5px;
}
.sort-menu,
.sort-menu:focus {
  border: none;
}

.view-mode {
  display: flex;
}

.products {
  max-width: 1100px;
  margin-bottom: 50px;
}

.products-container {
  display: grid;
  gap: 30px 30px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width:1440px){
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-item {
  min-width: 100%;
  height: 100%;
  border: solid 1px var(--gray);
  border-radius: 8px;
}

.product-item:hover .product-item__image{
  opacity: 0.7;
  scale: 1.1;
}

.product-name {
  max-width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 1.1;
  margin: 20px;
  color: var(--fonts);
  transition: .3s;
}

.product-price {
  width: 70px;
  text-align: end;
}

.product-cost {
  color: var(--gray);
}

.product-item__image_container {
  overflow: hidden;
}

.product-item__image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  /* border-radius: 8px; */
  object-fit: cover;
  object-position: center;
  transition: 0.2s;
}

.product-buttons,
.reset-total {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}

/* VIEW MODE ALL CODE */
.view-mode {
  display: flex;
  gap: 20px;
}

.view-box {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid var(--dark-gray);
  background: var(--dark-gray);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px 7px;
  transition: all .3s ease;
}

.view-box.active {
  gap: 1px 4px;
  transition: .3s ease;
}

.viev-item-box {
  display: flex;
  width: 10px;
  height: 10px;
  background: var(--main);
  border-radius: 2px;
  transition: all .3s ease;
}

.view-box.active .viev-item-box {
  display: flex;
  width: 8px;
  height: 8px;
  background: var(--main);
  border-radius: 2px;
  transition: all .3s ease;
}

.small-view{
  display: none;
}

.products-container.active {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width:1440px){
  .products-container.active  {
    grid-template-columns: repeat(4, 1fr);
  }
}

.products-container.active .product-item__info{
  font-size: 18px;
}

.view-line {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 1px solid var(--dark-gray);
  background: var(--main);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.viev-item-line {
  display: flex;
  width: 80%;
  height: 2px;
  background: var(--dark-gray);
  border-radius: 3px;
}

/* all */
.button {
  cursor: pointer;
  min-width: 100px;
  height: 20px;
  font-size: 16px;
  color: var(--fonts);
  border: none;
  background-color: var(--light-gray);
  border-radius: 5px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

.button:hover{
  color: var(--main);
  background-color: var(--dark-gray);
  transform: scale(1.05);
}

.button:active{
  color: var(--fonts);
  background-color: var(--light-gray);
  transform: scale(1);
}

.button-active{
  color: var(--main);
  background-color: var(--dark-gray);
}
.button-active:hover{
  color: var(--fonts);
  background-color: var(--light-gray);
}

.hide {
  display: none;
}

.transparent__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 14, 14, 0.75);
  z-index: 400;
}
