.purchase__modal {
    margin: 0 auto;
    width: 600px;
    height: 650px;
    border: 1px solid var(--gray);
    background: var(--light-gray);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
}

#modal__input__name,
#modal__input__phone,
#modal__input__adress,
#modal__input__email {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
}

.modal__card__wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 150px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 20px;
    gap: 10px;
    padding-top: 25px;
    align-items: center;
    background-color: #6f87cd;
    margin: 0 auto;
}

#modal__input__cardNum {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

#modal__input__card__date,
#modal__input__card__CVV {
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 10px;
}

.btn__modal__confirm {
    height: 50px;
    width: 150px;
    align-self: center;
    margin: 0 5px 0 5px;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 20px;
    background-color: #cc6880;
    cursor: pointer;
}

.modal__input::placeholder {
    opacity: 0.4;
}